# Dependency directories
node_modules/

# Optional npm cache & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Production build directory
/dist

# OS files
.DS_Store
Thumbs.db

.parcel-cache/
.idea/
